<mat-card>
    <mat-card-content>
        <section>
            <mat-form-field>
                <input matInput placeholder="First Name" type="text" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Age"  type="number" [(ngModel)]="age" >
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="save()">
                <mat-icon>check</mat-icon>
            </button>
        </section>
        <section>
            {{client}}
        </section>
    </mat-card-content>
</mat-card>

<app-item-client *ngFor="let c of clients; let i = index" [client]="c" (removeClient)="delete(i)" (updateClient)="update($event, i)"></app-item-client>