<!-- *********** Using NgStyle *********** -->
<!-- <app-ng-style></app-ng-style> -->

<!-- *********** Using NgClass *********** -->
<!-- <app-ng-class></app-ng-class> -->

<!-- *********** Using NgIf *********** -->
<!-- <app-ng-if></app-ng-if> -->

<!-- *********** Using NgFor *********** -->
<!-- <app-ng-for></app-ng-for> -->

<!-- *********** Using NgForForm *********** -->
<!-- <app-ng-for-form></app-ng-for-form> -->

<!-- *********** Using NgSwitch *********** -->
<!-- <app-ng-switch></app-ng-switch> -->

<!-- *********** Using NgTemplate *********** -->
<!-- <app-ng-template></app-ng-template> -->

<!-- *********** Using NgContainer *********** -->
<!-- <app-ng-container></app-ng-container> -->

<!-- *********** Using NgContent *********** -->
<app-ng-content>
    <p>My name is <strong>Homer Simpson</strong>, nice to meet you.</p>
    <p>One more beer, please!</p>
</app-ng-content>